<style>
    .search-btn {
        background-color: #fe424e;
        color: #fff;
        border-radius: 25px;
        padding: 0 1rem 0 1rem;
    }

    .search-btn:hover {
        background-color: #fe424e;
        color: #fff;
    }

    .search-btn i {
        display: inline;
        margin-right: 0.5rem;
    }

    .search-ip {
        border-radius: 25px;
        padding: 0.5rem 3rem 0.5rem 3rem;
    }

    @media (max-width: 768px) {
        .navbar-nav .d-flex {
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

        .search-ip {
            width: 80%;
            margin-bottom: 0.5rem;
        }

        .search-btn {
            width: auto;
            font-size: 0.9rem;
            padding: 0.4rem 1rem;
            text-align: center;
        }
    }
</style>

<nav class="navbar navbar-expand-md bg-white border-bottom sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/listings"> <img
                src="https://i.ibb.co/bRP0ncFf/Screenshot-2025-11-07-at-3-52-38-PM.png"
                style="width: 100%; height: 60px;"> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse bg-white" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/listings">Explore</a>
            </div>
            <!-- Search Bar -->
            <div class="navbar-nav ms-auto">
                <form class="d-flex" role="search" action="/listings/search" method="get">
                    <input class="form-control me-2 w-auto search-ip" type="search" placeholder="Search destination"
                        name="keyword" aria-label="Search" />
                    <button class="btn  search-btn" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        Search
                    </button>
                </form>
            </div>

            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="/listings/new">Become a host</a>
                <% if(!currUser){ %>
                    <a class="nav-link" href="/signup"><b>Sign up</b></a>
                    <a class="nav-link" href="/login"><b>Log in</b></a>
                    <% } %>
                        <% if(currUser){ %>
                            <a class="nav-link" href="/logout"><b>Log out</b></a>
                            <% } %>
            </div>
        </div>
    </div>
</nav>