body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

/** Navbar */
.navbar {
  height: 5rem;
  background-color: white;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

/** Footer */
.icons,
.name,
.f-info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot {
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: space-evenly;
  text-align: center;
}

.f-info a {
  text-decoration: none;
  color: #222222;
}

.f-info a:hover {
  text-decoration: underline;
}

.icons i {
  font-size: 1.2rem;
  margin-right: 1rem;
}

/** Cards */
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-tex {
  font-weight: 400 !important;
}

.listing-link {
  text-decoration: none;
}

/** card effect */
.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  background-color: white;
  opacity: 0.2;
}

/** new page & edit page btn */
.add-btn,
.list-btn,
.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/** show page */
.show-img {
  height: 30vh;
}

.listing-category {
  font-size: 0.9rem;
  color: #6c757d;
  margin-top: 2px;
  margin-bottom: 12px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

.btns {
  display: flex;
}

.show-card {
  padding-left: 0;
  padding-right: 0;
}

/* Map styling */
#map {
  height: 400px;
  width: 80vh;
}
